* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.register_card {
  height: fit-content;
  width: 600px;
  background-color: #18597e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.input_container {
  color: #fff;
  width: 100%;
}

.input {
  background-color: #19a1d233;
  padding: 7px 10px;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  margin-top: 7px;
  border: 1px solid #ffffff48;
  transition: all 0.4s ease-in-out;
  display: flex;

  &:has(input:focus) {
    border-color: #10dbff;
  }

  > input {
    min-width: calc(100% - 30px);
    font-size: 13px;
    background-color: transparent;
    border: none;
    color: #fff;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #ffffff48;
    }
  }
}

.icon {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.melek {
  display: flex;
}

.action {
  width: 100%;
  margin-top: 30px;

  > button {
    border: none;
    background-color: #18a7a9;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
  }
}

.danger {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  background-color: #be6262;
  border-radius: 7px;

  a {
    color: #0afffb;
    text-decoration: none;
  }
}

.suggest {
  text-align: center;

  > p {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;

    a {
      color: #0afffb;
      text-decoration: none;
    }
  }
}
