* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f8f9fa;
}

.header_container {
  color: #fff;
  padding: 20px 0;
  /* position: fixed; */
  background-color: #000;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.nav a:hover {
  color: #ccc;
}

.btn-login {
  padding: 8px 20px;
  border: 2px solid #2563eb;
  border-radius: 5px;
  color: #2563eb !important;
}

.btn-register {
  padding: 8px 20px;
  background: #2563eb;
  border-radius: 5px;
  color: #fff !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 28px;
    color: #111827;
  }
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 5px;
  display: flex;
  gap: 15px;

  a {
    text-decoration: none;
    color: #2563eb;
    font-weight: 600;

    &:not(:last-child)::after {
      content: "/";
      margin-left: 10px;
      color: #2563eb;
    }
  }
}

.container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.input_container {
  display: flex;
  gap: 5px;
  background-color: #eef4ff;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all ease 0.3s;
  border: 1px solid #c3d8ff;

  &:has(:focus-within) {
    box-shadow: 0 0 0 4px rgba(37, 100, 235, 0.171);
    border-color: #2563eb;
  }

  input {
    width: 300px;
    border: none;
    font-size: 15px;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
      color: #2563eb;
    }
  }
}

.content_container {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.category_container {
  width: 270px;
  min-width: 270px;
  height: fit-content;
  box-shadow: 0 2px 10px rgba(78, 137, 211, 0.1);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  padding-top: 40px;

  > a {
    text-decoration: none;
    color: #4b4b4b;
    position: absolute;
    top: 10px;
    right: 25px;
  }

  h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #54575d;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      width: 17px;
      height: 17px;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        color: #2563eb;
      }
    }
  }
}

.category_wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 10px;

  > div {
    display: flex;
    align-items: center;
    gap: 15px;

    input {
      width: 15px;
      height: 15px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: color 0.3s;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.product_card {
  width: 270px;
  max-width: 270px;
  box-shadow: 0 2px 10px rgba(78, 137, 211, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-decoration: none;
}

.image_container {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
}

.product_info {
  padding: 10px;

  > p {
    font-size: 14px;
    color: #555;
    line-height: 120%;
  }
}

.photographer {
  font-size: 13px;
  color: #777;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    color: #000;
  }
}

.product_header {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.detail_product {
  display: flex;
  gap: 15px;
}

.detail_item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  font-size: 13px;
  color: #777;

  svg {
    width: 16px;
    height: 16px;
    color: #2563eb;
  }
}

.product_price {
  padding-top: 10px;
  line-height: 120%;

  > p {
    font-size: 14px;
    font-weight: 400;
    color: #111827;
  }

  > span {
    font-size: 16px;
    font-weight: 700;
  }
}
