body{
    font-family:Arial, sans-serif;
    background:#f2f4f7;
    margin:0;
}

h2{
    text-align:center;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    max-width:600px;
    margin:30px auto;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

/* ATUR FOTO PROFIL */
.foto-wrapper{
    width:120px;
    height:120px;
    border-radius:50%;
    border:2px dashed #aaa;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    margin:0 auto 20px;
    overflow:hidden;
    background:#f9fafb;
}

.foto-wrapper span{
    font-size:13px;
    color:#555;
}

.foto-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
}

input[type="file"]{
    display:none;
}

/* UNTUK FORM */
label{
    font-weight:bold;
    margin-top:10px;
    display:block;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:15px;
    cursor:pointer;
}

button:hover{
    background:#1e40af;
}